/* General Styles */


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-left:70%;
    margin-top: 10px;
}

.nav-links li {
    display: inline;
    margin: 0 13px;
}

.nav-links a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 18px;
    
}
#head{
    display: flex;
}
.socials{
    color: #000000;
}

#image{
    margin-top: 70px;
    margin-left: 20%;
}
#header-content{
    margin-left: 150px;
    margin-top: 200px;
    font-size: 25px;
}
#header-content p,a{
    font-size: 30px;
}

@media screen and (max-width:500px) {
    .header-content{
        margin-left: 0px;
    }
}

.burger {
    display: none;
    color: white;
    font-size: 30px;
}
.about{
    border: 1px solid rgb(61, 56, 56);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about {
    padding: 50px;
    max-width: 1200px;
    margin-left:10%;
    margin-right: 5%;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    text-align: start;
   
}

.about-photo {
    max-width: 200px;
    border-radius: 50%;
    margin-left: 30px;
}
/*-------education----*/

#col,#col1{
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
    border: 1px solid rgb(61, 56, 56);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.row{
    padding: 50px;
}
.text{
    padding: 30px;
}
.code,.cogni p{
    font-size: 17px;
    margin-left: 20px;
}

/*-------skills----*/

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#skillf {
    
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 10px;
    border: 1px solid rgb(61, 56, 56);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
}

.skills-container-fluid .col i {
    font-size: 3em;

    color: #131414;
}
/*--------project-------*/


.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-item {
    background-color: white;
    border-radius: 10px;
    margin-left: 20%;
    padding: 20px;
    border: 2px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #00b4d8;
}
/*--------contact-------*/


.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact input, .contact textarea {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

footer .socials a {
    margin: 0 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
 

}
